/* Generated CSS Variables from Design: Untitled */

:root {
  /* Colors */

  --beige: oklch(91% 0.07 81);
  --orange: oklch(70% 0.19 43);
  --orange-light: oklch(69% 0.17 40);
  --blue: oklch(50% 0.1 245);
  --turquoise-dark: oklch(43% 0.07 211);
  --green-acid: oklch(72% 0.19 152);
  --green-grass: oklch(70% 0.16 133);

  --color-primary: var(--orange);
  --color-secondary: var(--green-grass);
  --color-accent: var(--orange-light);
  --color-background: var(--beige);
  --color-surface: var(--blue);
  --color-text: var(--turquoise-dark);
  --color-textSecondary: var(--beige);

  /* Typography */
  --font-family: IBM Plex Mono, monospace;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;

  /* Border */
  --border-width: 0px;
  --border-style: none;
  --border-radius: 0.5rem;
}

/* === Reset ================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  margin: 0;
}
button {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  display: inline-block;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

button:active {
  background-color: transparent;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  padding-bottom: 1px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green-grass);
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition:
      opacity 50ms,
      transform 0.3s ease;
  }

  &:hover::after {
    opacity: 0.6;
    transform: translate3d(0, 0, 0);
  }
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  color: var(--color-primary);
}

h1 {
  font-size: 72px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  font-weight: 500;
}
h3 {
}
h4 {
}
h5 {
}
p {
  color: var(--color-text);
}

main,
header,
footer {
  /* max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; */
}

body > header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  .nav-links {
    display: flex;
    gap: 20px;
  }
}

section {
  min-height: 85dvh;
}

.button {
  border-radius: var(--border-radius);
  background-color: var(--green-grass);
  max-width: 200px;
  padding: 1rem 2rem;
  font-size: 20px;
  color: var(--beige);
  border: 2px var(--green-grass) solid;
  &:hover {
    border: 2px var(--turquoise-dark) solid;
    color: var(--green-grass);
    background-color: transparent;
  }
}
.content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  width: 100%;
  min-height: 85dvh;
  padding-left: 40px;
}
#hero-section {
  background-image:
    linear-gradient(
      oklch(91% 0.07 81 / 1),
      oklch(91% 0.07 81 / 0.5),
      oklch(91% 0.07 81 / 1)
    ),
    url("assets/images/hero-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .content {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
  }
  .content .copy {
    padding-top: 20dvh;
    padding-bottom: 100px;

    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .content .copy h1 {
    margin-bottom: 20px;
  }
  .content .copy .tagline {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .content .copy .description {
    margin-bottom: 10px;
  }
}

#projects-section {
  background-image:
    linear-gradient(
      oklch(91% 0.07 81 / 1),
      oklch(91% 0.07 81 / 0.5),
      oklch(91% 0.07 81 / 1)
    ),
    url("assets/images/projects-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#background-section {
  background-image:
    linear-gradient(
      oklch(91% 0.07 81 / 1),
      oklch(91% 0.07 81 / 0.8),
      oklch(91% 0.07 81 / 1)
    ),
    url("assets/images/background-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#education-section {
  background-image:
    linear-gradient(
      oklch(91% 0.07 81 / 1),
      oklch(91% 0.07 81 / 0.8),
      oklch(91% 0.07 81 / 1)
    ),
    url("assets/images/education-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
